*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
    font-family: "Open Sans",sans-serif;
}
header{
    background-color: #FFFFFF;
    

}
.logo {
    width: 80px;   /* reduce size */
    height: auto;  /* keep quality */
}

