 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f9fafb;
    color: #1f2937;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: #374151;
    font-weight: 500;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.btn {
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.primary {
    background: #22c55e;
    color: white;
}

.outline {
    background: transparent;
    border: 1px solid #22c55e;
    color: #22c55e;
}
/* Hero */
.hero {
    background: linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
                url('https://images.unsplash.com/photo-1517433456452-f9633a875f6f') center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero span {
    color: #22c55e;
}

.hero p {
    max-width: 700px;
    margin: 20px auto;
}

.badge {
    display: inline-block;
    background: white;
    color: #16a34a;
    padding: 6px 14px;
    border-radius: 20px;
    font size:12px;
}